<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Lekhha.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>71B9C13888F69A04C4686CC1059F41071DA8C620</string>
				<key>dateExpires</key>
				<string>10/05/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>71B9C13888F69A04C4686CC1059F41071DA8C620</string>
						<key>dateExpires</key>
						<string>10/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ASValueTrackingSlider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QXP486V37G</string>
						<key>name</key>
						<string>SHAILESH GUPTA (IN)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>71B9C13888F69A04C4686CC1059F41071DA8C620</string>
						<key>dateExpires</key>
						<string>10/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CropPickerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QXP486V37G</string>
						<key>name</key>
						<string>SHAILESH GUPTA (IN)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>71B9C13888F69A04C4686CC1059F41071DA8C620</string>
						<key>dateExpires</key>
						<string>10/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QXP486V37G</string>
						<key>name</key>
						<string>SHAILESH GUPTA (IN)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>71B9C13888F69A04C4686CC1059F41071DA8C620</string>
						<key>dateExpires</key>
						<string>10/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QXP486V37G</string>
						<key>name</key>
						<string>SHAILESH GUPTA (IN)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>71B9C13888F69A04C4686CC1059F41071DA8C620</string>
						<key>dateExpires</key>
						<string>10/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleAPIClientForREST.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QXP486V37G</string>
						<key>name</key>
						<string>SHAILESH GUPTA (IN)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>71B9C13888F69A04C4686CC1059F41071DA8C620</string>
						<key>dateExpires</key>
						<string>10/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QXP486V37G</string>
						<key>name</key>
						<string>SHAILESH GUPTA (IN)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>71B9C13888F69A04C4686CC1059F41071DA8C620</string>
						<key>dateExpires</key>
						<string>10/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QXP486V37G</string>
						<key>name</key>
						<string>SHAILESH GUPTA (IN)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>71B9C13888F69A04C4686CC1059F41071DA8C620</string>
						<key>dateExpires</key>
						<string>10/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QXP486V37G</string>
						<key>name</key>
						<string>SHAILESH GUPTA (IN)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>71B9C13888F69A04C4686CC1059F41071DA8C620</string>
						<key>dateExpires</key>
						<string>10/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QXP486V37G</string>
						<key>name</key>
						<string>SHAILESH GUPTA (IN)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>71B9C13888F69A04C4686CC1059F41071DA8C620</string>
						<key>dateExpires</key>
						<string>10/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QXP486V37G</string>
						<key>name</key>
						<string>SHAILESH GUPTA (IN)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>71B9C13888F69A04C4686CC1059F41071DA8C620</string>
						<key>dateExpires</key>
						<string>10/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QXP486V37G</string>
						<key>name</key>
						<string>SHAILESH GUPTA (IN)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>71B9C13888F69A04C4686CC1059F41071DA8C620</string>
						<key>dateExpires</key>
						<string>10/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QXP486V37G</string>
						<key>name</key>
						<string>SHAILESH GUPTA (IN)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>71B9C13888F69A04C4686CC1059F41071DA8C620</string>
						<key>dateExpires</key>
						<string>10/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QXP486V37G</string>
						<key>name</key>
						<string>SHAILESH GUPTA (IN)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>71B9C13888F69A04C4686CC1059F41071DA8C620</string>
						<key>dateExpires</key>
						<string>10/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TwilioChatClient.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QXP486V37G</string>
						<key>name</key>
						<string>SHAILESH GUPTA (IN)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>71B9C13888F69A04C4686CC1059F41071DA8C620</string>
						<key>dateExpires</key>
						<string>10/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TwilioVoice.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QXP486V37G</string>
						<key>name</key>
						<string>SHAILESH GUPTA (IN)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>71B9C13888F69A04C4686CC1059F41071DA8C620</string>
						<key>dateExpires</key>
						<string>10/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>WARangeSlider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QXP486V37G</string>
						<key>name</key>
						<string>SHAILESH GUPTA (IN)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>71B9C13888F69A04C4686CC1059F41071DA8C620</string>
						<key>dateExpires</key>
						<string>10/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>iOSDropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QXP486V37G</string>
						<key>name</key>
						<string>SHAILESH GUPTA (IN)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>71B9C13888F69A04C4686CC1059F41071DA8C620</string>
						<key>dateExpires</key>
						<string>10/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QXP486V37G</string>
						<key>name</key>
						<string>SHAILESH GUPTA (IN)</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>QXP486V37G.com.lekhha.lekhhaapp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>QXP486V37G</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>QXP486V37G.com.lekhha.lekhhaapp</string>
				</array>
			</dict>
			<key>name</key>
			<string>Lekhha.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>12966113-79bf-4bb7-a30f-f763511a0dd7</string>
				<key>name</key>
				<string>MalleshProfile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>QXP486V37G</string>
				<key>name</key>
				<string>SHAILESH GUPTA (IN)</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
